@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nunito:wght@500&family=Space+Mono&display=swap');



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


body, html {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.preloader {
    position: fixed;
    z-index: 1000;
    background-color: rgb(7, 7, 7);
    height: 110%;
    width: 100%;
    color: white;
    font-size: 180%;
    text-align: center;
    text-transform: uppercase;
}
.loading {
    background-color: rgb(7, 7, 7);
    position: fixed;
    top: calc(50% - 10vh);
    left: calc(50% - 10vh);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    animation: spin 2s linear infinite;
  }

nav {
    z-index: 2;
    display: flex;
    position: fixed;
    margin: 0;
    padding: 10px;
    align-items: center;
    background-color: transparent;
    top: 0;
    justify-content: space-between;
    width: 100%;
    transition: transform 0.5s;
}
nav .logo.hidden {
    transform: translateY(-130%);
    transition: transform 0.5s;
}
nav .contact.hidden {
    transform: translateY(-130%);
    transition: transform 0.5s;
}
nav .name.hidden {
    font-size: 2vh;
    transition: 0.5s;
    top: -10%;
}

#inverted {
    filter: invert();
}

nav .logo {
    transition: transform 0.3s;
}
nav .logo button {
    background-color: transparent;
    border: transparent 0px solid;
}
nav img.logo {
    transform:translateY(-1vh);
    height: 18vh;
}

nav .name{
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    font-family: 'Space Mono';
    color: white;
    font-size: 3.5vh;
    transition: 0.3s;
}
nav .contact {
    padding-right: 5vh;
    text-align: center;
    transition: transform 0.3s;
}
nav .contact ul {
    word-spacing: 2vh;
}
nav .contact li {
    display: inline-block;
}
nav .contact a#text{
    font-family: "Black Ops One";
    font-weight: normal;
    text-decoration: none;
    color: white;
    align-items: center;
    transition: color 0.2s;
}
nav .contact a#text:hover {
    transition: color 0.5s;
    color: red;
}
nav .contact img {
    width: 5vh;
    transition: filter 0.2s;
}
nav .contact img:hover {
    filter: brightness(0.5) sepia(1) saturate(100000%);
    transition: filter 0.5s;
}


.landing {
    z-index: 1;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/space-bg1.jpeg);
    background-size: cover;
    background-position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

.slogan {
    margin: auto;
}
.landing .slogan * {
    font-size: 7vh;
    color: white;
    font-family: 'Black Ops One';
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
.landing .slogan .show {
    opacity: 1;
    transition: 2s;
}
.landing .slogan .show.final {
    font-size: 4.25vh;
    transition: 1.5s;
    top: 40%;
}

.landing .slogan img {
    opacity: 0;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45vh;
    transform: translate(-50%, -50%);
}

.landing .slogan img.visible {
    opacity: 1;
    transition: 1s;
}

.info {
    box-sizing: border-box;
    padding: 1.5vw;
    width: 100%;
    text-align: center;
    z-index: 3;
    padding-bottom: 3vw;
    background-color: rgb(15, 15, 15);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 1.5vw;
    color: white;
    padding-top: 5vw;
}
.info .box {
    box-sizing: border-box;
    overflow: hidden;
    background-color:rgb(35, 35, 35);
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1vw;
}
.info .box-title {
    font-size: 5vh;
}
.info .box p {
    font-size: 2.5vh;
}
.info .box ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style:none;
}
.info .box li {
    text-align: center;
    display: block;
    font-size: 2.5vh;
}
.info .project-block {
    box-sizing: border-box;
    width:100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.info .projects {
    box-sizing: border-box;
    text-align: center;
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    gap:3vw;

}

.info .project#website{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1vw;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
}
.info .project {
    margin-right:0;
    margin-left:0;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
}

.info .projects .project h2 {
    font-size: 2.5vw;
}

.info .projects .project .desc {
    font-size: 2vw;
}

.info .projects .project a {
    text-decoration: white underline;
    font-size: 2vw;
    color: white;
    transition: color 0.2s;
}
.info .projects .project a:hover {
    text-decoration: rgb(100, 31, 114) underline;
    color: rgb(100, 31, 114);
    transition: color 0.3s;
}
.info .projects .project ul.tags {
    text-align: left;
    width: 100%;
    display: inline-block;
    margin: 0px;
    margin-top: 3vw;
    margin-bottom: 1vw;
}
.info .projects .project li {
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
}
.info .project .bullet {
    display: inline-block;
    background-color:rgb(100, 31, 114);
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
}


@media screen and (max-width: 800px) {
.loading {
    top: calc(50% - 10vw);
    left: calc(50% - 10vw);
    width: 10vw;
    height: 10vw;
  }
nav img.logo {
    height: 13vw;
}
nav .name{
    font-size: 3.5vw;
}
nav .contact {
    padding-right: 5vw;
}
nav .contact ul {
    word-spacing: 2vw;
}
nav .contact img {
    width: 5vw;
}
.landing .slogan * {
    font-size: 7vw;
}
.landing .slogan .show.final {
    font-size: 4.5vw;
    top: 45%;
}
.landing .slogan img {
    width: 45vw;
}
.info {
    display: block;
    width: 100%;
    height: min-content;
}
.info .box {
    margin-top: 2vh;
    padding: 2vh;
    width: 90vw;
}
.info .box-title {
    font-size: 5vw;
}
.info .box p {
    font-size: 2.5vw;
}
.info .box li {
    font-size: 2.5vw;
}
.info .projects {
    display: block;
}

.info .project#website{
    padding: 2vh;
}
.info .project {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh;
}

.info .projects .project h2 {
    font-size: 2.5vh;
}

.info .projects .project .desc {
    font-size: 2vh;
}

.info .projects .project a {
    font-size: 2vh;
}
.info .projects .project ul.tags {
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.info .projects .project li {
    padding-left: 1vh;
    padding-right: 1vh;
}
.info .project .bullet {
    width: 1vh;
    height: 1vh;
}
}